<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8"/>
    <title>Roxo | Creative Design Agency</title>
    <!--Meta For No Index-->
    <meta
    name="robots" content="noindex, Nofollow, Noimageindex"> <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/style.css' | url }}"/>
    <link rel="shortcut icon" href="{{ '/assets/images/favIcon.png' | url }}" type="image/x-icon"/>
    <link rel="icon" href="{{ '/assets/images/favIcon.png' | url }}" type="image/x-icon"/>
    <script defer src="{{ '/js/alpine.js?v={% version %}' | url }}"></script>
  </head>
  <body class="mx-auto max-w-7xl">
    {% block navbar %}
      <nav class="bg-white shadow">
        <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="relative flex justify-between h-16">
            <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
              <ul class="flex space-x-8">
                {% for navLink in nav.navLinks %}
                  <li class="nav-item">
                    {% if navLink == "home" %}
                      <a class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900" href="{{ '/' | url }}">{{ navLink | capitalize }}</a>
                    {% else %}
                      <a class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900" href="{{ ['/', navLink] | join | url }}">{{ navLink | capitalize }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    {% endblock %}
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>