{% extends "base.njk" %}
{% block content %}
  <section class="container mx-auto">
    <div class="flex">
      <div class="w-1/2">
        {{ content | safe }}
      </div>
      <div class="w-1/2">
        <p>
          {{ des }}
        </p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="flex">
      <div class="w-1/2">
        <h2>{{ expertise.title }}</h2>
      </div>
      <ul class="w-1/2">
        {% for expertIn in expertise.expertIn %}
          <li>{{ expertIn }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<section class="site-client">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ clients.title }}</h2>
        </div>
        <div class="site-client-wrapper">
          {% for trustedClient in clients.trustedClients %}
            <div class="site-client-item">
              <img src="{{ trustedClient }}" alt="client-logo"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="">
    <div class="container">
      <div class="flex">
        <div class="">
          <div class="">
            <h2>
              {{ team.title }}
            </h2>
          </div>
        </div>
        <div class="grid grid-cols-3 grid-rows-2 gap-4">
          {% for teamMember in team.teamMembers %}
            <div class="">
              <div class="">
                <div class="">
                  <img class="rounded-full" src="{{ teamMember.img }}" alt="team-member"></div>
                  <div class="">
                    <h3>{{ teamMember.name }}</h3>
                    <p>{{ teamMember.dig }}</p>
                    <ul class="flex justify-between">
                      {% for social in teamMember.social %}
                        <li>
                          <a href="/{{ 'social.link' | url }}">
                            <i class="fa fa-{{ social.icon }}"></i>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endblock %}