{% extends "base.njk" %}
{% block content %}
  <section class="relative flex items-center justify-center bg-center bg-cover h-screen bg-[url('{{ hero.background }}')]">
    {{ content | safe }}
  </section>
{% endblock %}